extends layout/main
block main

	script(type='text/javascript', src='/assets/js/home.js')

	form(onsubmit='validatePreferences()' method='GET' action="/results" class='topnav')

		.myform
			label(for='quantity') Tempo/BPM:<br>(Number between 50 and 250)

			input#quantity(type='number' class='tempo' name='quantity' min='1' max='1000' value='125')

		#mainDiv
			#artistDiv
				.header
					h2(style='margin:5px') Pick your Artists
					input#artistInput(type='text' style='color=#FFFF00' placeholder='Artist...')
					span.addBtn(onclick='addArtist()') Add
				ul#artistList

			#genreDiv
				.header
					h2(style='margin:5px') Pick your Genres
					.input-field
						select#genreInput
						

					span.addBtn(onclick='addGenre()') Add
				ul#genreList

		input.btn.waves-effect.waves-light(id="generatePL" type='submit' value='Generate Playlist')




